@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.idx-popup {
    .modal-dialog {
        .modal-content {
            background: none;
        }

        img {
            width: 100%;
            border-radius: 20px;

            @include mobile {
                max-width: 351px;
            }

            @media (max-width: 375px) {
                max-width: 250px;
            }
        }
    }

    .modal-content {
        border: 0;
    }

    .modal-header {
        border: 0;

        .btn-close {
            opacity: 1;
            color: #FFFFFF;
            background: none;
        }
    }
}

.swiper {
    .swiper-btn-white {
        &::after {
            content: '';
        }
    }

    .btn-swiper {
        width: 48px;
        height: 48px;
        border-radius: 50px;
        font-size: 28px;
        text-align: center;
        top: 150px;
        background: white;
        border: 2px solid #785507;
    }

    .swiper-button-next {
        right: 0;
    }

    .swiper-button-prev {
        left: 0;
    }
}

.banner-swiper {
    .btn-swiper {
        display: none !important;
    }
}

.idx-banner {
    margin-bottom: 75px;
    position: relative;

    @include mobile {
        margin-bottom: 60px;
    }

    &::before {
        content: "";
        position: absolute;
        z-index: 5;
        left: 0px;
        bottom: -40px;
        width: 100%;
        height: 162px;
        background-color: #F7F4EB;
        -webkit-mask: url("../images/index/bg_wave_desktop.png") no-repeat center center;
        mask: url("../images/index/bg_wave_desktop.png") no-repeat center center;
        -webkit-mask-size: contain;
        mask-size: contain;

        @include pad {
            height: 100px;
        }

        @media (max-width: 375px) {
            bottom: -10px;
            height: 52px;
            -webkit-mask: url("../images/index/bg_wave_mobile.png") no-repeat center center;
            mask: url("../images/index/bg_wave_mobile.png") no-repeat center center;
        }
    }

    .swiper-pagination {
        bottom: 15%;

        .swiper-pagination-bullet {
            background: rgba(255, 255, 255, 0.5);
        }

        .swiper-pagination-bullet-active {
            background: white;
        }
    }

    .idx-search {
        z-index: 20;
        top: 42%;
        // left: 50%;
        width: 100%;
    }

    .idx-search-item {
        width: 60%;
        max-width: 636px;


        .form-control {
            padding-top: 16px;
            padding-bottom: 16px;
            border-radius: 500px;
        }

        .form-control:focus {
            outline: none;
            box-shadow: none;
            border-color: white;
        }

        .form-control.show {
            padding-top: 20px;
            padding-bottom: 56px;
            border-radius: 40px;
        }
    }

    .search-tag-list {
        bottom: 10px;
        left: 40px;

        .search-tags {
            display: flex;
            justify-content: space-between;
        }

        .search-tag {
            background: #966A09;
            color: #FFFFFF;
            padding: 4px 10px;
            border-radius: 8px;
            margin-top: 16px;
            margin-right: 16px;
        }
    }

    .dropdown-menu {
        width: 100%;
        max-width: 636px;
        z-index: 30;
        border-radius: 40px;
        border: 3px solid rgba(255, 255, 255, 1);
        transform: translate3d(0px, 70px, 0px);

        &-lev-one,
        &-lev-two,
        &-lev-three {
            max-height: 280px;
            height: calc(100vh - 100px);
            padding: 16px 32px;
        }

        &-lev-one {
            border-right: 1px solid #D7D7D7;
            width: 40%;
        }

        &-lev-two {
            border-right: 1px solid #D7D7D7;
            width: 60%;
        }

        &-lev-three {
            width: 33%;
        }

        .search-item-all {
            font-weight: 700;
        }

        &-lev-one {
            .search-item {
                &:not(.search-item-all):after {
                    font-weight: 700;
                }

                &:not(.search-item-all):after {
                    content: "\e5cc";
                    font-family: "Material Symbols Outlined";
                }
            }
        }

        .search-item {
            padding: 6px;
            display: flex;
            justify-content: space-between;
            border-radius: 12px;
        }

        .item-current {
            color: #966A09;
            font-weight: 700;
        }
    }
}

.idx-banner-item {
    position: relative;

    img {
        max-width: 100%;
    }
}

// 最新上架 / 熱門
.idx-product {
    .read-more {
        padding: 4px 16px 4px 16px;
        color: #797979;
        border: 1px solid #EDE4CB;
        border-radius: 50px;
        display: flex;
        align-items: center;
    }
}

.idx-product-list {
    margin-bottom: 100px;

    @include mobile {
        margin-bottom: 80px;
    }

    .idx-goods-item {
        width: 306px;
        position: relative;

        @include mobile {
            width: 164px;
            padding: 8px;
        }

        // https: //blog.csdn.net/pitaogao/article/details/112727743
        .img-box {
            position: relative;
            overflow: hidden;
            border-radius: 8px;
            margin-bottom: 16px;
        }

        .img-box::after {
            content: '';
            display: block;
            padding-bottom: 100%;
        }

        .goods-pic {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: cover;
        }

        .card-title {
            font-size: 20px;

            @include mobile {
                font-size: 16px;
            }
        }

        .old-price {
            font-size: 16px;

            @include mobile {
                font-size: 14px;
            }
        }
    }

    // .swiper-wrapper {
    //     padding-left: 30px;
    //     padding-right: 30px;
    // }
}

.tag-cat-list {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.tag-list {
    position: absolute;
    top: 40px;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.product-tag {
    background: #DBBE5D;
    padding: 4px 10px;
    border-radius: 8px;
    margin-top: 16px;
    margin-right: 16px;

    @include mobile {
        padding: 2px 8px;
        font-size: 14px;
        margin-right: 10px;
    }
}

.product-cat-tag {
    background: #F7F4EB;
    color: #785507;
    padding: 4px 10px;
    border-radius: 8px;
    margin-top: 16px;
    margin-right: 16px;

    @include mobile {
        padding: 2px 8px;
        font-size: 14px;
        margin-right: 10px;
    }
}

// 傳遞心意
.idx-heart-list {
    padding: 64px 72px;
    background: #EBF1DD;
    position: relative;

    @include mobile {
        padding: 10px 0;
        background: none;

    }

    .idx-goods-item {
        width: 416px;
        position: relative;
        border-radius: 8px;

        @include mobile {
            width: 164px;
            padding: 16px;
            background: #EBF1DD;
        }

        // https: //blog.csdn.net/pitaogao/article/details/112727743
        .img-box {
            position: relative;
            overflow: hidden;
            border-radius: 8px;
            margin-bottom: 16px;
            height: 208px;
            position: relative;

            @include mobile {
                height: auto;
            }
        }

        @include mobile {
            .img-box::after {
                content: '';
                display: block;
                padding-bottom: 100%;
            }
        }


        .goods-pic {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }

        .card-title {
            font-size: 20px;

            @include mobile {
                font-size: 16px;
            }
        }

        .old-price {
            font-size: 16px;

            @include mobile {
                font-size: 14px;
            }
        }
    }
}

.heart-read-more {
    position: absolute;
    bottom: -30px;
    left: 0;

    .readmore {
        padding: 16px 56px 16px 56px;
        background: #CDAA34;
        color: #FFFFFF;
        border-radius: 50px;
        display: flex;
        align-items: center;
    }

    @include mobile {
        display: none;
    }
}

.heart-read-more-sm {
    display: none;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;

    .readmore {
        padding: 8px 85px 8px 85px;
        background: #CDAA34;
        color: #FFFFFF;
        border-radius: 50px;
        display: flex;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    @include mobile {
        display: block;
    }
}

.buy-btn {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    font-size: 28px;
    text-align: center;
    margin-top: auto;

    @include mobile {
        width: 100%;
        height: auto;
        border-radius: 8px;
        padding: 8px 18px 8px 18px;
        font-size: 14px;
        font-weight: 500;
    }
}

.buy-btn-primary {
    color: #966A09;
    background: #EDE4CB;
}

.buy-btn-secondary {
    color: white;
    background: #79A93F;
}

.idx-cat-name img {
    width: 32px;
    height: 32px;

    @include pad {
        width: 24px;
        height: 24px;
    }
}

.idx-brand {
    height: 989px;
    padding-top: 270px;
    background: url('../images/index/concepts_bg_desktop.png') no-repeat center;

    @include pad {
        padding-top: 230px;
    }

    @media (max-width: 375px) {
        padding-top: 100px;
        height: 700px;
        background: url('../images/index/concepts_bg_mobile.png') no-repeat top;
    }

    &-slogen {
        color: white;
        margin-bottom: 16px;

        @include pad {
            margin-bottom: 8px;
        }
    }

    .idx-slogen-title {
        font-size: 64px;
        font-weight: 600;

        @include mobile {
            font-size: 32px;
        }
    }

    .idx-slogen-subname {
        font-size: 24px;
        font-weight: 500;

        @include mobile {
            font-size: 16px;
        }
    }


    &-feature {
        padding: 24px;
    }
}

// 平台特色
.idx-brand-item {
    width: 200px;
    height: 200px;
    flex-wrap: wrap;
    text-align: center;
    border: 4px solid white;
    color: white;

    @include mobile {
        width: 164px;
        height: 164px;
        font-size: 14px;
    }


    .idx-brand-title {
        font-size: 32px;
        margin-bottom: 8px;

        @include mobile {
            font-size: 24px;
            margin-bottom: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .idx-brand-content {
        font-size: 16px;

        @include pad {
            font-size: 14px;
        }
    }

    .feature-icon svg rect {
        fill: none;
    }

    .feature-icon svg path {
        fill: white;
    }
}

// 客人好評
.idx-comment {
    .idx-comment-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .idx-comment-brief {
        font-size: 24px;
        margin-bottom: 48px;

        @include mobile {
            font-weight: 500;
            font-size: 14px;
            margin-bottom: 24px;
        }
    }
}

.idx-comment-item {
    background: #FFFFFF;
    border-radius: 32px;
    padding: 32px 56px;
    width: 416px;

    @include mobile {
        padding: 16px 56px;
        width: 319px;
    }

    .card-header {
        display: flex;
        margin-bottom: 24px;

        @include mobile {
            margin-bottom: 8px;
        }
    }

    .author-img {
        margin-right: 22px;
    }

    .fullname {
        font-size: 20px;
        font-weight: 700;

        @include mobile {
            font-size: 14px;
        }
    }

    .star {
        width: 16px;
        height: 16px;

        @include mobile {
            width: 14px;
            height: 14px;
        }
    }

    .card-text {
        font-size: 24px;
        font-weight: 400;

        @include mobile {
            font-size: 16px;
        }
    }
}


// 關於我們
.idx-about {
    margin-bottom: 100px;

    @include mobile {
        margin-bottom: 96px;
    }

    .idx-about-brief {
        font-size: 24px;
        margin-bottom: 48px;

        @include mobile {
            font-weight: 500;
            font-size: 14px;
            margin-bottom: 24px;
        }
    }
}

.idx-about-item-group {
    display: flex;
    gap: 24px;

    @include mobile {
        flex-direction: column;
        align-items: center;
    }
}

.idx-about-item {
    background: #FFFFFF;
    border-radius: 100px;
    padding: 16px 24px;
    display: flex;
    gap: 16px;
    width: 526px;

    @include mobile {
        padding: 12px 24px;
        width: 319px;
    }

    .social svg {
        width: 32px;
        height: 32px;

        @include mobile {
            width: 24px;
            height: 24px;
        }
    }

    .name {
        font-size: 24px;

        @include mobile {
            font-size: 16px;
        }
    }

    .job {
        font-size: 20px;

        @include mobile {
            font-size: 14px;
        }
    }
}