//Common
.revert {
  transform: scaleX(-1);
}

//Product Header
.product {
  &-title {
    p {
      color: $gary-500;
    }
  }

  &-price {
    color: $secondary-700;
    background-color: $secondary-100;
    padding: 8px 24px;
  }

  &-detail {
    &-topic {
      color: $gary-500;
      li {
        text-align-last: justify;
      }
    }
    &-value {
      .btn_quantity {
        border: 1px solid $gary-500;
        border-radius: var(--bs-border-radius);
        input {
          background-color: var(--bs-body-bg);
          border: none;
          text-align: center;
        }
        input:focus-visible {
          outline: none;
        }
        button {
          border: none;
        }
        button:active {
          background-color: #ede4cb80;
        }
      }
    }
  }

  &-buyandstorage {
    .btn-storage,
    .btn-buy {
      width: 50%;
      button {
        padding: 16px 0;
        width: 100%;
      }
    }

    .storage-method {
      h6 {
        color: $primary-300;
      }
      p {
        color: $gary-500;
      }
      background-color: #ede4cb80;
      padding: 16px 24px;
    }

    .btn-secondary700 {
      color: $secondary-100;
      background: $secondary-700;
      border: 1px solid $secondary-700;
    }

    .btn-secondary700:hover {
      color: $secondary-100;
      background: $secondary-300;
      border: 1px solid $secondary-300;
    }

    .btn-secondary100 {
      color: $secondary-700;
      background: $secondary-100;
      border: 1px solid $secondary-700;
    }

    .btn-secondary100:hover {
      img {
        content: url("/images/icon/box-secondary100.svg");
      }
      color: $secondary-100;
      background: $secondary-700;
      border: 1px solid $secondary-700;
    }
  }
}
.product-img {
  max-width: 100%;
  border-radius: 8px;
}

// Button grop for jump tag
.jump-tag {
  margin: 80px auto;
  @include pad {
    margin: 48px auto;
  }

  .list-group-item {
    text-align: center;
    color: $gary-500;
    border: 1px solid $gary-500;
  }

  .list-group-item:first-child {
    border-right-width: 0;
    border-top-right-radius: 0px;
    border-bottom-left-radius: inherit;
  }

  .list-group-item:last-child {
    border-left-width: 0;
    border-bottom-left-radius: 0px;
    border-top-right-radius: inherit;
  }

  .list-group-item.active {
    color: white;
    border-color: $primary-300;
    background-color: $primary-300;
  }

  .list-group-item-action:hover,
  .list-group-item-action:focus {
    color: white;
    border-color: $primary-300;
    background-color: $primary-300;
  }
}

//Product Introduce
.introduce {
  &-content {
    .describe {
      color: #1f1e1d;
      padding: 0px calc(100% / 12);
      @include pad {
        padding: 40px 12px;
      }
    }
    .intro-1 {
      img {
        max-width: 100%;
        border-radius: 8px 0 0 8px;
        @include pad {
          border-radius: 0px;
        }
      }
      .bg-describe {
        background-color: $primary-100;
        border-radius: 0 8px 8px 0;
        @include pad {
          border-radius: 0px;
        }
      }
    }
    .intro-2 {
      @include pad {
        flex-direction: column-reverse;
      }
      img {
        max-width: 100%;
        border-radius: 0 8px 8px 0;
        @include pad {
          border-radius: 0px;
        }
      }
      .bg-describe {
        background-color: $secondary-100;
        border-radius: 8px 0 0 8px;
        @include pad {
          border-radius: 0px;
        }
      }
    }
    .intro-3 {
      .bg {
        height: 389px;
        @include mobile {
          height: auto;
        }
      }
      img {
        width: 100%;
        max-height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 8px;
        @include pad {
          border-radius: 0px;
        }
      }
    }
    .intro-4 {
      .bg {
        background-color: $primary-100;
        border-radius: 8px;
        @include pad {
          border-radius: 0px;
        }
      }
      .describe {
        color: #1f1e1d;
        text-align: center;
        padding: 56px 0;
        @include pad {
          padding: 40px 12px;
          text-align: start;
        }
        .gap-break-point {
          margin-bottom: 16px;
          @include pad {
            margin: 16px 0px;
          }
        }
      }
    }
  }
}

.donate {
  .bg {
    background: url("/images/product/donation_bg_desktop.png") center;
    background-size: cover;
    border-radius: 80px;
    @include pad {
      border-radius: 0px;
      background-position: right;
      -webkit-filter: grayscale(50%); /* Safari */
      filter: grayscale(50%);
    }
  }
  &-container {
    padding: 0px calc(100% / 12);
    padding-top: 80px;
    padding-bottom: 240px;
  }
  &-slogan {
    @media (max-width: 1200px) {
      text-align: center;
    }
    .logo {
      font-size: 20px;
      @include mobile {
        font-size: 16 px;
      }
      font-weight: 500;
      border: 1px solid white;
      border-radius: 50px;
    }
    .title {
      font-size: 64px;
      line-height: 92.67px;
      @media (max-width: 1200px) {
        line-height: 1.2;
      }
      @include mobile {
        font-size: 32px;
      }
    }
    .content {
      font-size: 24px;
      line-height: 34.75px;
      @include mobile {
        font-size: 16 px;
      }
    }
  }
  &-icon {
    @include pad {
      display: flex;
      flex-direction: column;
    }
    .icon-text {
      width: 100px;
      height: 100px;
      text-align: center;
      border: 1px solid white;
    }
  }
}

.farm {
  &-picture {
    .bg-farm {
      width: 100%;
      border-radius: 80px 80px 0 0;
      @include pad {
        border-radius: 0px;
      }
    }
    .farm-owner {
      width: calc(100% / 12 * 2); //230
      @include mobile {
        width: 25%;
      }
      position: absolute;
      transform: translate(-50%, -50%);
      top: 105%;
      left: 80%;
      @include pad {
        left: 50%;
      }
      .farm-name {
        text-align: center;
        font-size: 32px;
        @include pad {
          font-size: 24px;
        }
      }
      &-name {
        @include pad {
          font-size: 16px;
        }
      }
      img {
        max-width: 100%;
        border: 2px solid white;
      }
    }
  }
  .describe {
    padding: 64px 0;
    padding-left: calc(100% / 12);
    padding-right: calc(100% / 12 * 4);
    @include pad {
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 120px;
    }
    background-color: white;
    border-radius: 0 0 80px 80px;
    @include pad {
      border-radius: 0px;
    }
    &-title {
      @include pad {
        text-align: center;
      }
    }
  }
}

//Comment
.comment {
  background-color: $primary-100;
  .btn-comment {
    @include mobile {
      flex-direction: column;
      align-items: center;
    }
    .btn {
      width: 100%;
    }
    &-write {
      width: calc(100% / 12 * 3);
      @include pad {
        width: calc(100% / 12 * 4);
      }
      @include mobile {
        width: calc(100% / 4 * 3);
        margin-bottom: 16px;
      }
      .btn-primary {
        color: $primary-500;
        background-color: $primary-100;
      }
      .btn {
        border-color: $primary-500;
      }
      .btn:hover {
        color: $primary-100;
        background-color: $primary-500;
        img {
          filter: drop-shadow($primary-100 2000px 0);
          translate: (-2000px);
        }
      }
    }
    &-viewall {
      width: calc(100% / 12 * 3);
      @include pad {
        width: calc(100% / 12 * 4);
      }
      @include mobile {
        width: calc(100% / 4 * 3);
      }
      .btn-primary {
        color: $primary-100;
        background-color: $primary-500;
      }
      .btn {
        border-color: $primary-500;
      }
      .btn:hover {
        color: $primary-500;
        background-color: $primary-100;
        img {
          filter: drop-shadow($primary-500 2000px 0);
          translate: (-2000px);
        }
      }
    }
  }
}

//Shopping Instructions
.instructions {
  margin-bottom: 120px;
  ol {
    padding-inline-start: 0px;
  }
  &-list {
    margin: 0px calc(100% / 12 * 2);
    @include pad {
      margin: 0px calc(100% / 12);
    }
    @include mobile {
      margin: 0px 12px;
    }
    list-style-type: decimal;
    list-style-position: inside;
    p {
      font-weight: 400;
    }
    .division {
      border-bottom: 1px solid $gary-300;
    }
  }
}
