.nong-d-none {
  display: none;
}

@include pad {
  .nong-d-none-md {
    display: none;
  }
}

@include mobile {
  .nong-d-none-sm {
    display: none;
  }
}

.footer {
  line-height: 1.5;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -100px;
    width: 100%;
    height: 162px;
    background-color: #966a09;
    //background-repeat: no-repeat;
    //background-image: url('../images/bg_wave_desktop.png');
    // 遮罩效果參考:https://w3c.hexschool.com/blog/24db18f8
    -webkit-mask: url("/nong_nong_react/images/index/bg_wave_desktop.png") no-repeat center center;
    mask: url("/nong_nong_react/images/index/bg_wave_desktop.png") no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;

    @include pad {
      height: 100px;
      top: -50px;
    }

    @media (max-width: 375px) {
      top: -30px;
      height: 52px;
      -webkit-mask: url("/nong_nong_react/images/index/bg_wave_mobile.png") no-repeat center center;
      mask: url("/nong_nong_react/images/index/bg_wave_mobile.png") no-repeat center center;
    }
  }

  .copyright {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);

    @include mobile {
      display: none;
      color: white;
    }
  }

  &-contact {
    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  &-contact-time {
    @include mobile {
      display: none;
    }
  }

  .contact-info {
    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .bi-facebook,
  .bi-instagram {
    font-size: 24px;
  }
}

.footer-brand {
  width: 100px;

  @include mobile {
    width: 140px;
  }
}

.footer-logo {
  max-width: 100%;
}

.sm-copyright {
  display: none;
  font-size: 14px;

  @include mobile {
    display: block;
  }
}


.page-cart {
  opacity: 0;
  right: 5%;
  bottom: 290px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 86px;
  border-radius: 50px;
  font-size: 42px;
  text-align: center;
  background: #DBBE5D;
  color: #FFFFFF;
  z-index: 1000;

  @include mobile {
    bottom: 35%;
    width: 70px;
    height: 70px;
    font-size: 30px;
  }


  .page-cart-num {
    top: 30%;
    font-size: 13px;

    @include mobile {
      font-size: 10px;
    }
  }
}